<%= form_with model: @transfer_transaction, url: transfers_path do |f| %>
  <%= render 'shared/transaction_form_errors', object: f.object %>

  <div id="transfer_counterparty_field mb-1" class="field">
    <%= f.label :counterparty_acc_number, t('activerecord.attributes.transaction.counterparty_acc_number'), class: "form-label" %>
    <%= f.number_field :counterparty_acc_number, class: "form-control", placeholder: "12345" %>
  </div>

  <div id="transfer_value_field" class="field">
    <%= f.label :value, "#{t('activerecord.attributes.transaction.value')} (#{t('number.currency.format.unit')})", class: "form-label" %>
    <%= f.number_field :value, class: "form-control", step: "0.01", placeholder: "0.00" %>
  </div>

  <div class="actions">
    <%= f.submit t('statements.index.transfer'), class: "btn btn-primary mt-3" %>
  </div>
<% end %>